{
  "log": {
    "_recordingName": "fetch-users",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "edfaed4de1579750758b21a741f5f836",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "includeGroupAdmins",
              "value": "true"
            }
          ],
          "url": "https://snyk.io/api/v1/org/0b2bc034-5fca-4a90-b3de-c04fa86b47ef/members?includeGroupAdmins=true"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 166,
            "text": "[{\"id\":\"d15551dc-5721-475d-bef4-33912d0d28fe\",\"username\":\"austinkelleher-jupiterone\",\"name\":\"Austin Test\",\"email\":\"austin.kelleher+gh@jupiterone.com\",\"role\":\"admin\"}]"
          },
          "headers": [
            {
              "name": "x-snyk-version",
              "value": "undefined"
            },
            {
              "name": "snyk-request-id",
              "value": "058d6e1a-4d53-4c18-bfcb-4d65099c5e1b"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 528,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
