{
  "log": {
    "_recordingName": "fetch-users",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "ecb17c741063125e5a5bd3d34eab4fdc",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://snyk.io/api/v1/group/6ea3fc3c-8f73-4f87-9122-f7b884cec006/orgs"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 313,
            "text": "{\"id\":\"6ea3fc3c-8f73-4f87-9122-f7b884cec006\",\"name\":\"tj2488801 Group\",\"url\":\"https://app.snyk.io/group/6ea3fc3c-8f73-4f87-9122-f7b884cec006\",\"orgs\":[{\"id\":\"fd2cef6d-650b-4696-8b8f-aaf443e414bd\",\"name\":\"tj2488801\",\"slug\":\"tj2488801\",\"url\":\"https://app.snyk.io/org/tj2488801\",\"created\":\"2023-01-08T10:38:31.534Z\"}]}"
          },
          "headers": [
            {
              "name": "snyk-request-id",
              "value": "894468e1-0009-4d65-8703-562605c548d7"
            },
            {
              "name": "link",
              "value": "<https://app.snyk.io/api/v1/group/6ea3fc3c-8f73-4f87-9122-f7b884cec006/orgs?page=1>; rel=last"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1145,
      },
      {
        "_id": "ecb17c741063125e5a5bd3d34eab4fdc",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://sn[...]
