{
  "log": {
    "_recordingName": "fetch-roles",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "ecb17c741063125e5a5bd3d34eab4fdc",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://snyk.io/api/v1/group/6ea3fc3c-8f73-4f87-9122-f7b884cec006/orgs"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 313,
            "text": "{\"id\":\"6ea3fc3c-8f73-4f87-9122-f7b884cec006\",\"name\":\"tj2488801 Group\",\"url\":\"https://app.snyk.io/group/6ea3fc3c-8f73-4f87-9122-f7b884cec006\",\"orgs\":[{\"id\":\"fd2cef6d-650b-4696-8b8f-aaf443e414bd\",\"name\":\"tj2488801\",\"slug\":\"tj2488801\",\"url\":\"https://app.snyk.io/org/tj2488801\",\"created\":\"2023-01-08T10:38:31.534Z\"}]}"
          },
          "headers": [
            {
              "name": "snyk-request-id",
              "value": "4175434e-8027-41ed-8c2c-3cf07d49e0bb"
            },
            {
              "name": "link",
              "value": "<https://app.snyk.io/api/v1/group/6ea3fc3c-8f73-4f87-9122-f7b884cec006/orgs?page=1>; rel=last"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 939,
      },
      {
        "_id": "ecb17c741063125e5a5bd3d34eab4fdc",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://snyk.io/api/v1/group/6ea3fc3c-8f73-4f87-9122-f7b884cec006/roles"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 389,
            "text": "[{\"name\":\"Org Admin\",\"description\":\"Admin\",\"customRole\":false,\"publicId\":\"d8ba290b-aa9e-4957-9f0b-9409d7b4f883\",\"created\":\"2021-04-22T16:02:53.233Z\",\"modified\":\"2022-12-07T15:17:02.732Z\"},{\"name\":\"Org Collaborator\",\"description\":\"Collaborator\",\"customRole\":false,\"publicId\":\"b031ec6e-dfd4-4051-ad84-1d3a390f0f4b\",\"created\":\"2021-04-22T16:02:53.233Z\",\"modified\":\"2022-12-07T15:17:02.746Z\"}]"
          },
          "headers": [
            {
              "name": "snyk-request-id",
              "value": "133f69be-5729-40d5-9b23-969f5d5a2359"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1281,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
