{
  "log": {
    "_recordingName": "validateInvocationPasses",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "59a197f14251ca64e10aee2cde670a97",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://snyk.io/api/v1/org/0b2bc034-5fca-4a90-b3de-c04fa86b47ef/members"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 2,
            "text": "[]"
          },
          "headers": [
            {
              "name": "x-snyk-version",
              "value": "undefined"
            },
            {
              "name": "snyk-request-id",
              "value": "63a15d75-bc80-4d96-b264-c3cda203602f"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 2051,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
