{
  "log": {
    "_recordingName": "validateInvocationPasses",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "ecb17c741063125e5a5bd3d34eab4fdc",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://snyk.io/api/v1/org/fd2cef6d-650b-4696-8b8f-aaf443e414bd/members"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 2,
            "text": "[]"
          },
          "headers": [
            {
              "name": "snyk-request-id",
              "value": "2e55c9a3-313b-41f8-84fe-c448afc592a3"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 897,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
