{
  "log": {
    "_recordingName": "validateInvocationFailsInvalidCredentials",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "ecb17c741063125e5a5bd3d34eab4fdc",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://snyk.io/api/v1/org/fd2cef6d-650b-4696-8b8f-aaf443e414bd/members"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 90,
            "text": "{\"code\":401,\"message\":\"Invalid auth token provided\",\"error\":\"Invalid auth token provided\"}"
          },
          "headers": [
            {
              "name": "snyk-request-id",
              "value": "38d571ee-6c0c-4f8f-b541-ea1c97198e2a"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 626,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
