{
  "log": {
    "_recordingName": "validateInvocationFailsInvalidCredentials",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "59a197f14251ca64e10aee2cde670a97",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://snyk.io/api/v1/org/0b2bc034-5fca-4a90-b3de-c04fa86b47ef/members"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 90,
            "text": "{\"code\":401,\"message\":\"Invalid auth token provided\",\"error\":\"Invalid auth token provided\"}"
          },
          "headers": [
            {
              "name": "x-snyk-version",
              "value": "undefined"
            },
            {
              "name": "snyk-request-id",
              "value": "b15e3b2e-7d81-49f9-857f-89e22c5941e2"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 4366,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
