{
  "log": {
    "_recordingName": "validateInvocationFailsInvalidCredentials",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "ecb17c741063125e5a5bd3d34eab4fdc",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://snyk.io/api/v1/org/486f1b99-e5dd-4baf-b0c0-2142c12e3eb5/members"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 90,
            "text": "{\"code\":401,\"message\":\"Invalid auth token provided\",\"error\":\"Invalid auth token provided\"}"
          },
          "headers": [
            {
              "name": "snyk-request-id",
              "value": "5165144c-17fb-47a0-bd9e-11c9acb6ca90"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 930,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
