{
  "log": {
    "_recordingName": "validateInvocationPassesWithMissingOrgId",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "ecb17c741063125e5a5bd3d34eab4fdc",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://snyk.io/api/v1/group/fd2cef6d-650b-4696-8b8f-aaf443e414bd/members"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 3,
            "text": "[]\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 95,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
