{
  "log": {
    "_recordingName": "build-user-role-relationship",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "ecb17c741063125e5a5bd3d34eab4fdc",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://snyk.io/api/v1/group/558f8183-e761-4015-849e-914dda20f7ac/orgs"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 297,
            "text": "{\"id\":\"558f8183-e761-4015-849e-914dda20f7ac\",\"name\":\"RPGPH Group\",\"url\":\"https://app.snyk.io/group/558f8183-e761-4015-849e-914dda20f7ac\",\"orgs\":[{\"id\":\"486f1b99-e5dd-4baf-b0c0-2142c12e3eb5\",\"name\":\"RPGPH\",\"slug\":\"rpgph\",\"url\":\"https://app.snyk.io/org/rpgph\",\"created\":\"2022-10-11T01:22:49.310Z\"}]}"
          },
          "headers": [
            {
              "name": "snyk-request-id",
              "value": "a9d28df0-1dcd-4899-94a3-1f214fc50257"
            },
            {
              "name": "link",
              "value": "<https://app.snyk.io/api/v1/group/558f8183-e761-4015-849e-914dda20f7ac/orgs?page=1>; rel=last"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 410,
      },
      {
        "_id": "ecb17c741063125e5a5bd3d34eab4fdc",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://snyk.io/api/v1/group/558f8183-e761-4015-849e-914dda20f7ac/roles"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 389,
            "text": "[{\"name\":\"Org Admin\",\"description\":\"Admin\",\"customRole\":false,\"publicId\":\"d8ba290b-aa9e-4957-9f0b-9409d7b4f883\",\"created\":\"2021-04-22T16:02:53.233Z\",\"modified\":\"2022-04-29T14:01:22.662Z\"},{\"name\":\"Org Collaborator\",\"description\":\"Collaborator\",\"customRole\":false,\"publicId\":\"b031ec6e-dfd4-4051-ad84-1d3a390f0f4b\",\"created\":\"2021-04-22T16:02:53.233Z\",\"modified\":\"2022-04-26T14:31:52.958Z\"}]"
          },
          "headers": [
            {
              "name": "snyk-request-id",
              "value": "2c66b8ec-f0d3-4708-a387-fdcbca8f10b1"
            },
            {
              "name": "content-type",
              "value": "a[...]
