{
  "log": {
    "_recordingName": "fetch-projects",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "d539481d26494b3262fdda5864ef30a6",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://snyk.io/api/v1/org/0b2bc034-5fca-4a90-b3de-c04fa86b47ef/projects"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 3903,
            "text": "{\"org\":{\"name\":\"jupiterone-integration-dev\",\"id\":\"0b2bc034-5fca-4a90-b3de-c04fa86b47ef\"},\"projects\":[{\"id\":\"99fe8454-dd93-4b6f-9271-eed9383e21f5\",\"name\":\"starbase-test/starbase\",\"created\":\"2022-06-04T17:17:32.993Z\",\"origin\":\"github\",\"type\":\"sast\",\"readOnly\":false,\"testFrequency\":\"weekly\",\"isMonitored\":true,\"totalDependencies\":null,\"issueCountsBySeverity\":{\"low\":1,\"high\":0,\"medium\":0,\"critical\":0},\"imageTag\":\"\",\"lastTestedDate\":\"2022-06-04T17:17:36.816Z\",\"browseUrl\":\"https://app.snyk.io/org/jupiterone-integration-dev/project/99fe8454-dd93-4b6f-9271-eed9383e21f5\",\"owner\":null,\"importingUser\":{\"id\":\"d15551dc-5721-475d-bef4-33912d0d28fe\",\"name\":\"Austin Test\",\"username\":\"austinkelleher-jupiterone\",\"email\":\"austin.kelleher+gh@jupiterone.com\"},\"tags\":[],\"attributes\":{\"criticality\":[],\"lifecycle\":[],\"environment\":[]},\"branch\":\"main\"},{\"id\":\"4c7139c5-9ee9-44e9-ba0e-c2dbbaca1d61\",\"name\":\"starbase-test/graph-sentry-test\",\"created\":\"2022-06-04T17:17:05.779Z\",\"origin\":\"github\",\"type\":\"sast\",\"readOnly\":false,\"testFrequency\":\"weekly\",\"isMonitored\":true,\"totalDependencies\":null,\"issueCountsBySeverity\":{\"low\":0,\"high\":0,\"medium\":0,\"critical\":0},\"imageTag\":\"\",\"lastTestedDate\":\"2022-06-04T17:17:06.519Z\",\"browseUrl\":\"https://app.snyk.io/org/jupiterone-integration-dev/project/4c7139c5-9ee9-44e9-ba0e-c2dbbaca1d61\",\"owner\":null,\"importingUser\":{\"id\":\"d15551dc-5721-475d-bef4-33912d0d28fe\",\"name\":\"Austin Test\",\"username\":\"austinkelleher-jupiterone\",\"email\":\"austin.kelleher+gh@jupiterone.com\"},\"tags\":[],\"attributes\":{\"criticality\":[],\"lifecycle\":[],\"environment\":[]},\"branch\":\"main\"},{\"id\":\"4e3f2738-5456-4114-92b0-461850a2df68\",\"name\":\"starbase-test/starbase:Dockerfile\",\"created\":\"2022-06-04T17:16:52.820Z\",\"origin\":\"github\",\"type\":\"dockerfile\",\"readOnly\":false,\"testFrequency\":\"daily\",\"isMonitored\":true,\"totalDependencies\":86,\"issueCountsBySeverity\":{\"low\":69,\"high\":1,\"medium\":0,\"critical\":0},\"imageTag\":\"14-buster-slim\",\"imageBaseImage\":\"node:14-buster-slim\",\"lastTestedDate\":\"2022-06-04T17:16:53.714Z\",\"browseUrl\":\"https://app.snyk.io/org/jupiterone-integration-dev/project/4e3f2738-5456-4114-92b0-461850a2df68\",\"owner\":null,\"importingUser\":{\"id\":\"d15551dc-5721-475d-bef4-33912d0d28fe\",\"name\":\"Austin Test\",\"username\":\"austinkelleher-jupiterone\",\"email\":\"austin.kelleher+gh@jupiterone.com\"},\"tags\":[],\"attributes\":{\"criticality\":[],\"lifecycle\":[],\"environment\":[]},\"branch\":\"main\"},{\"id\":\"[...]
