{
  "log": {
    "_recordingName": "fetch-organizations",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "ecb17c741063125e5a5bd3d34eab4fdc",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://snyk.io/api/v1/group/558f8183-e761-4015-849e-914dda20f7ac/orgs"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 297,
            "text": "{\"id\":\"558f8183-e761-4015-849e-914dda20f7ac\",\"name\":\"RPGPH Group\",\"url\":\"https://app.snyk.io/group/558f8183-e761-4015-849e-914dda20f7ac\",\"orgs\":[{\"id\":\"486f1b99-e5dd-4baf-b0c0-2142c12e3eb5\",\"name\":\"RPGPH\",\"slug\":\"rpgph\",\"url\":\"https://app.snyk.io/org/rpgph\",\"created\":\"2022-10-11T01:22:49.310Z\"}]}"
          },
          "headers": [
            {
              "name": "snyk-request-id",
              "value": "72e8b096-fc38-405e-835a-97729ef050ba"
            },
            {
              "name": "link",
              "value": "<https://app.snyk.io/api/v1/group/558f8183-e761-4015-849e-914dda20f7ac/orgs?page=1>; rel=last"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1408,
      },
      {
        "_id": "ecb17c741063125e5a5bd3d34eab4fdc",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://sn[...]
